---
layout: _meta
---

<div class="sp_xl pl-max-width">
  <div class="g-inner">
    <h1 class="tx_xl tx_light">Pattern List</h1>
  </div>
  <a class="grunticon" href="/grunticon/preview.html">Grunticon Preview of All Icons</a>
</div>

<script>
  window.patternList = {{{ patternJSON }}};
</script>

<div class="js-pattern-list pattern-list grid-root"><!-- this becomes populated with patterns --></div>

